//fonts
$font-primary: "SFUIText", sans-serif;
$font-secondary: "SFProDisplay", sans-serif;

//colors
$gray-100: #f2f2f2;
$gray-200: #eee;
$gray-500: #888;
$gray-600: #828282;
$gray-700: #4f4f4f;
$bg-color-discount: #eb5757;

//sizes
$spacing-sm: 10px;
$spacing-md: 24px;
$spacing-lg: 32px;
$spacing-xl: 40px;
$spacing-xxl: 48px;

$fs-xs: 12px;
$fs-sm: 14px;
$fs-md: 16px;
$fs-xl: 36px;

$icon: 21.6px;


